.chatareanavbar{
    display: flex;
    align-items: center;
    color: #C7C8C9;
    padding: 0px 10px;
    z-index: 100;

    &--size{
        min-height: 60px;
        width: 100%;
    }

    &--theme{
        background-color: #2A2F32;
    }

    &__left{
        display: flex;
        align-items: center;
        height: 100%;
        border-radius: 50%;
    }
    
    &__right{
        position: relative;
        margin-left: auto;
    }

    &__image{
        width: 40px;
        cursor: pointer;
    }

    &__info{
        margin: 0px 20px;
    }

    &__name{
        font-size: 16px;
        font-weight: 400;
    }

    &__lastseen{
        font-size: 11px;
    }

    &__icon{
        cursor: pointer;
        font-size: 18px;
        margin-right: 20px;
    }
}

.chatsareanavbar__options{
    position: absolute;
    top: 41px;
    right: 30px;
}